@import "tailwindcss";

:root {
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}
